footer(id="contact")  
   .footer__container.container    
      .footer__content.container
         .contact__box 
            .contact__heading КОНТАКТЫ
            .contact__item 
               .contact__phone
                  .phone__heading Телефон:
                  a(href="tel:74957248541") +7(495)724-8541
               .contact__adress
                  .adress__heading Адрес офиса:
                  .adress__adress г.Москва, ул. Мясницкая 13, стр.20
               .contact__mail
                  .mail__heading E-mail:
                  .mail__mail main@lmco.ru      
         .formafooter__box
           form(id="forma2" action="https://formspree.io/f/mzbokakv" method="POST" enctype="multipart/form-data") 
            .forma__body_f
               .forma__border__top_f 
               .forma__head_f
                  .forma__heading_f Есть дополнительные вопросы?
                  .forma__text_f Вам всего лишь нужно оставить заявку!
               .forma__options_f 
                  .options__item_f 
                     input(id="name_client" type="text", placeholder="  Ваше имя" name="name", valeu="").options__input_f
                     label(for="name_client")
                        span
                  .options__item_f 
                     input(id="phone" type="phone", placeholder="  Ваш телефон*" name="phone", valeu="").options__input_f._req2._phone
                     label(for="phone")
                        span
               .main3__button_f 
                   button(type="submit").submit2.formabutton_f ОБСУДИТЬ ЗАДАЧУ
                    .button__figure.formafigure_f                                   
               .checkbox__item_f 
                     input(id="formaagree" checked type="checkbox" name="agree" class="checkbox__input _req2")
                     label(for="formaagree" class="checkbox__text") Я даю согласие на обработку &nbsp;<a class="checkbox__persona" href="https://lmco.ru/policy", target="_blank"> персональных данных</a>
               .forma__error2
                  .error__box Пожалуйста, заполните все обязательные поля
                     .error__close 
                        img(src="img/times.svg", alt="close").close__error2
               .messendger__forma_f
                 .forma__decorate_f 
                 .messendger__formaelement 
                   .messendger__item.forma
                     a(href="https://wa.me/79652828065",  target="_blank") 
                      img(src="img/whatsapp.png", alt="whatsapp").item__messendger
                   .messendger__item.forma
                     a(href="viber://chat?number=%2B79652828065",  target="_blank") 
                      img(src="img/viber_1.png", alt="viber").item__messendger
                   .messendger__item.forma
                     a(href="https://t.me/Altair65",  target="_blank") 
                      img(src="img/telegram.png", alt="telegram").item__messendger
               .forma__decorate_bottom_f
         .ya__map
          <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A70420f257a7d9910959dfd49d70dd37c436d5789e688f4ca8612fa77e6de9f90&amp;width=800&amp;height=556&amp;lang=ru_RU&amp;scroll=true"></script>
   .footer__bottom.container 
         .footer__left
           .bottom__logo 
            img(src="https://thumb.tildacdn.com/tild6132-3333-4364-a236-666132363465/-/resize/520x/-/format/webp/4.png", alt="Logo").logo__footer
           .bottom__text 
              .text__brand Брендинговое агентство полного цикла
              .text__politica 
               a(href="https://lmco.ru/policy", target="_blank")  Политика конфиденциальности
         .footer__right 
            a(href="#main")  Наверх &#8613;      