header(id="main").header
   .header__contant.container    
      .header__logo 
          img(src="https://thumb.tildacdn.com/tild6132-3333-4364-a236-666132363465/-/resize/520x/-/format/webp/4.png", alt="Logo")            
      .header__menu.menu       
         nav.menu__body
            ul.menu__list  
              li 
                a(href="#portfolio").menu__link Портфолио
              li 
                a(href="#reviews").menu__link Отзывы 
              li 
                a(href="#about").menu__link О компании
              li 
                a(href="#contact").menu__link Контакты                                                           
      .header__contact
         .header__phone 
           a(href="tel:74957248541").phone 7(495)724-85-41 
         .header__timework Ежедневно 09.00-20.00
   .menu__container      
      button.menu__icon
        .icon-menu 
            span   
   .burger__mobail 
      .burger__container 
         .burger__close 
            img(src="img/multiply.svg", alt="Close").img__close 
         .burger__logo
            img(src="https://thumb.tildacdn.com/tild6132-3333-4364-a236-666132363465/-/resize/520x/-/format/webp/4.png", alt="Logo").burgeglogo  
         nav.burger__menu 
            ul.burger__list  
              li 
                a(href="#portfolio").burger__link Портфолио
              li 
                a(href="#reviews").burger__link Отзывы 
              li 
                a(href="#about").burger__link О компании
              li 
                a(href="#about").burger__link Наша команда
              li 
                a(href="#contact").burger__link Контакты
              li 
                a(href="https://lmco.ru/policy",  target="_blank").burger__link Политика конфеденциальности    
                     
                 